<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label></ion-label>
      <img src="" alt="">
      <h3>Ruta del Cares</h3>
      <p>Zona: </p>
      <p>Dificultad:</p>
    </ion-item>
     <ion-item>
      <ion-label></ion-label>
      <img src="" alt="">
      <h3>Lagos de Covadonga</h3>
      <p>Zona: </p>
      <p>Dificultad:</p>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
      <img src="" alt="">
      <h3>Senda del Oso</h3>
      <p>Zona: </p>
      <p>Dificultad:</p>
    </ion-item>
     <ion-item>
      <ion-label></ion-label>
      <img src="" alt="">
      <h3>Ruta del Alba</h3>
      <p>Zona: </p>
      <p>Dificultad:</p>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>
