<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label
        ><img
          src="https://imgs.search.brave.com/G_lAlvYJADNTqXO56ltBwK__v2C_vjj1acKb7wrbFCY/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTI3/Njk2Mjg1NS9lcy9m/b3RvL2hpa2luZy10/cmFjay1ydXRhLWRl/bC1jYXJlcy1mcm9t/LXBvbmNlYm9zLXRv/LWNhaW4taW4tcGlj/b3MtZGUtZXVyb3Bl/LWluLWFzdHVyaWFz/LXNwYWluLWV1cm9w/ZS5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9ZnozV0tJMlNh/bndjcmwtR3l4V1Vv/SWNKNUNJcW9jd1Rm/RmdqcmNvTDdWTT0"
          alt="Imagen Cares"
        />
        <h3>Ruta del Cares</h3>
        <p>Zona:</p>
        <p>Dificultad:</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        ><img
          src="https://imgs.search.brave.com/VCwWWKoncQjc2LlFE7Fq-kud7TD4PMekQ8woUZV2vpI/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzk3LzY3LzMz/LzM2MF9GXzI5NzY3/MzMwOV9WcjZJSkcy/aXJnQzZNZGdGbEJC/VGh0S04wNEkxemZj/TC5qcGc"
          alt=""
        />
        <h3>Lagos de Covadonga</h3>
        <p>Zona:</p>
        <p>Dificultad:</p></ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        ><img
          src="https://imgs.search.brave.com/Bm6rC2iavoeEQSvCGxHkZSaiZWdvp0D_TMtLfys397Y/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93d3cu/ZXNjYXBhZGFydXJh/bC5jb20vYmxvZy93/cC1jb250ZW50L3Vw/bG9hZHMvQWRvYmVT/dG9ja18zNzU1ODM5/MDItMTAyNHg2ODQu/anBlZw"
          alt=""
        />
        <h3>Senda del Oso</h3>
        <p>Zona:</p>
        <p>Dificultad:</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        ><img
          src="https://imgs.search.brave.com/oWTz-bdMXMbqrQ3Y2lMCsMlXGcUmrBzw6bdfcj1Lxfg/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9hZ29s/cGVkZWJvdGFzLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MC8xMi9SdXRhLWRl/bC1BbGJhLVBhcnF1/ZS1OYXR1cmFsLWRl/LVJlZGVzLTUuanBn"
          alt=""
        />
        <h3>Ruta del Alba</h3>
        <p>Zona:</p>
        <p>Dificultad:</p></ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>
