<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Calamar Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar color="danger" slot="bottom">
    <ion-tab-button tab="circulo">
      <ion-icon name="ellipse-outline"></ion-icon>
      <ion-label>Circulo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="triangulo">
      <ion-icon name="triangle-outline"></ion-icon>
      <ion-label>Triangulo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cuadrado">
      <ion-icon name="square-outline"></ion-icon>
      <ion-label>Cuadrado</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
