<ion-item>
  <ion-icon [name]="contacto.esFavorito ? 'heart' : 'heart-outline'"
  [color]="contacto.esFavorito ? 'danger' : 'medium'"
   slot="start" (click)="favorito()"></ion-icon>


  <ion-label>
    <h2>{{contacto.name}}</h2>
    <h2>{{contacto.phone}}</h2>
    <h2>{{contacto.email}}</h2>
    <h2>{{contacto.id}}</h2>
  </ion-label>
  <ion-icon name="trash"
   slot="end" (click)="borrar($event)" style="cursor: pointer;"></ion-icon>
   <ion-icon name="create" slot="end" (click)="editar($event)"></ion-icon>
</ion-item>
