<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Filtrar por plataforma</h2>
  <p>Selecciona una categoría para ver los juegos disponibles:</p>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="" (click)="irA('PC')">PC</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="" color="" (click)="irA('PS5')"> PS5</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="" color="" (click)="irA('Xbox')">Xbox</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="" color="" (click)="irA('Switch')">Switch</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
