<ion-menu menuId="menu-lateral" contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">

        <ion-item routerLink="/dashboard/juegos" routerDirection="root">
          <ion-label>Juegos</ion-label>
        </ion-item>

         <ion-item routerLink="/dashboard/tienda" routerDirection="root">
          <ion-label>Tienda</ion-label>
        </ion-item>

         <ion-item routerLink="/dashboard/perfil" routerDirection="root">
          <ion-label>Perfil</ion-label>
        </ion-item>

         <ion-item routerLink="/" routerDirection="root">
          <ion-label>Acerca De GameHub</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
