<div class="col-12 col-md-6 mt-2">
  <h3>{{ name() }}</h3>
  <input class="form-control mx-2 mt-2" type="text" placeholder="Nombre" [value]="name()"
    (input)="name.set(textName.value)" #textName />
  @if (power()>0){
  <h3>{{ power() }}</h3>
  }

  <input class="form-control mx-2 mt-2" type="number" placeholder="Poder" [value]="power()"
    (input)="power.set(textPower.valueAsNumber)" #textPower />
  <br>
   <select class="form-control mb-2"
    #txtVal
    (change)="valoracion.set(+txtVal.value)"> <!-- El '+' convierte string a numero -->
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br>
  <button (click)="crearPersonaje()" class="btn btn-warning mt-2">Añadir</button>
</div>
