<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ juegoEncontrado?.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label
            ><strong>Plataforma:</strong> {{ juegoEncontrado?.plataforma
            }}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-label
            ><strong>Género:</strong> {{ juegoEncontrado?.genero }}</ion-label
          >
        </ion-item>

        <ion-item>
          <ion-label
            ><strong>Precio:</strong> {{ juegoEncontrado?.precio }}€</ion-label
          >
        </ion-item>

        <ion-item>
            <ion-label><strong>Estado:</strong>
              @if (juegoEncontrado?.popular) {
                <ion-badge color="success">Popular</ion-badge>
              } @else {
                <ion-badge color="medium">Normal</ion-badge>
              }
            </ion-label>
          </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button (click)="irALaTienda()" expand="block" fill="clear" shape="round">
      Ir a la tienda
    </ion-button>
  </ion-card>
</ion-content>
