<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" name="add" (click)="onCrearMascota()"></ion-icon>
   <ion-searchbar
      placeholder="Buscar mascota..."
      (ionInput)="onSearchChange($event)"
      [debounce]="300">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Sin el buscador,
  <ion-list>
    @for (mascota of mascotas(); track mascota._id) {
      <app-mascota-item
      [mascota]="mascota"
      (mascotaBorrada)="onBorrarMascota(mascota._id)"
      (mascotaDetallada)="onDetalleMascota(mascota._id)"
      (mascotaEditada)="onEditarMascota(mascota._id)">

      </app-mascota-item>
    }
  </ion-list>
-->
  @for (mascota of mascotasFiltradas(); track mascota._id) {
      <app-mascota-item [mascota]="mascota"
      (mascotaBorrada)="onBorrarMascota(mascota._id)"
      (mascotaDetallada)="onDetalleMascota(mascota._id)"
      (mascotaEditada)="onEditarMascota(mascota._id)"></app-mascota-item>
    } @empty {
      <ion-item>
        <ion-label>No se encontraron mascotas</ion-label>
      </ion-item>
    }

  <ion-fab (click)="onCrearMascota()">Añadir mascota</ion-fab>
</ion-content>
