<app-header></app-header>
<ion-content>
  <ion-card>
    <img
      src="https://imgs.search.brave.com/nhybWaHUhdOaNE66nsXM0Sa9Yo1okMIwsUtTIh7iVyE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/ZWxmaWVsYXRvLmVz/L21lZGlhL2VsZmll/bGF0by9pbWFnZXMv/MjAyNS8xMi8wMy8y/MDI1MTIwMzEwMDMw/MzI5MjM4LmpwZw"
      alt="Imagen"
    />
    <ion-card-header>
      <ion-card-title>{{tituloApp}}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{textoCorto}} </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>
