<app-header></app-header>
<ion-content>
  <ion-card>
    <img
      src="https://imgs.search.brave.com/IEDwWeD-sSeUR5KbNChx8GDzWzLeesdEKDg9uiLbYLk/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9jb3N0/YXZlcmRlYXZlbnR1/cmEuY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDIwLzAyL0lN/R18yMDIwMDIxNF8x/MTQzNDQtc2NhbGVk/LmpwZw"
      alt="Imagen"
    />
    <ion-card-header>
      <ion-card-title>{{tituloApp}}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{textoCorto}} </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>
