<ion-menu slot="start" menuId="menu-lateral" contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/disfraces" routerDirection="root">
          <ion-label>Disfraces</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/desfiles" routerDirection="root">
          <ion-label>Desfiles</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>
